@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #02302d;
  color: white;
  font-family: "Michroma", sans-serif;
}
.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}
