@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #02302d;
  color: white;
  font-family: "Michroma", sans-serif;
}

.navbar,
.hero {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

.skill-title {
  position: relative;
}

.skill-title::before,
.skill-title::after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
}

.skill-title::before {
  width: 100vw;
  opacity: 0.5;
  transition: 1.5s;
}
