@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #02302d;
  color: white;
  font-family: "Cabin", sans-serif;
}

/* Navbar */
.resume {
  position: relative;
}

.resume::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #f9fafb;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: 0.3s;
}

.resume:hover::after {
  width: 100%;
}

.projects,
.skills,
.section-title {
  font-family: "Michroma", sans-serif;
}
.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

.skill-title {
  position: relative;
}

.skill-title::before,
.skill-title::after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
}

.skill-title::before {
  width: 100vw;
  opacity: 0.5;
  transition: 1.5s;
}
